$card-bg: linear-gradient(45deg, rgba(11, 177, 243, 0.5), rgba(226, 231, 233, 0));
$card-bg-hover: linear-gradient(45deg, rgba(30, 74, 216, 0.5), rgba(226, 231, 233, 0.1));
$card-bg-doctor: linear-gradient(45deg, rgba(14, 196, 241, 0.5), rgba(14, 178, 243, 0.5));
$card-bg-depart: linear-gradient(45deg, rgba(6, 187, 241, 0.5), rgba(9, 222, 250, 0.5));

// 基础颜色变量
$color-primary: #0bb1f3;
$color-text-main: #303133;
$color-text-regular: #606266;
$color-text-secondary: #909399;
$color-white: #ffffff;

// 字体变量
$font-family-base: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
  "微软雅黑", Arial, sans-serif;
