$card-bg: linear-gradient(45deg, rgba(11, 177, 243, 0.5), rgba(226, 231, 233, 0));
$card-bg-hover: linear-gradient(45deg, rgba(30, 74, 216, 0.5), rgba(226, 231, 233, 0.1));
$card-bg-doctor: linear-gradient(45deg, rgba(14, 196, 241, 0.5), rgba(14, 178, 243, 0.5));
$card-bg-depart: linear-gradient(45deg, rgba(6, 187, 241, 0.5), rgba(9, 222, 250, 0.5));
